section, #caracteristiques{
  width: 100%;
  height: auto;
  margin: 2em 0;
  h2{
    color: white;
  }
  .content{
    height: 100%;
    display: flex;
    flex-direction: row;
    .canvasStyle{
      height: 100%;
      width: 50%;
    }
    .deskCarac{
      margin: auto 2em;
      width: auto;
      max-width: 50%;
    }
  }
}