section{
  &#desk {
    width: 100%;
    padding: 2em 0;
    height: auto;
    .scene{
      min-height: 90vh;
      canvas {
        width: 100%;
        height: 100%;
      }
    }
    .deskContent {
      margin: 2em 2em;
    }
  }
}